

.abtimg {
 
  width: 550px;
  height: 450px;
  top: 741px;
  left: 100px;
}

.text {
  color: #787a91;
 
  width: 550px;
  height: 350px;
  top: 820px;
  right: 100px;
}

.head {
 
  

  font-weight: light;
  font-size: 30px;
}

#btn {

  top: 1107px;
  right: 566px;
}
